<!-- Início da Seção Novidades -->
<div class="novidades">
    <div class="conteiner-fluid">
        <div class="row">
            <!--início do texto das novidades -->
            <div class="col-md-6">
                <section class="text-body">
                    <h2>Venha conhecer nossas novidades</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eum inventore. Cupiditate reprehenderit perspiciatis facere, veritatis vel, dolores officia dolorem minus eius aspernatur aut recusandae, eligendi architecto repellat necessitatibus dolor.
                    </p>
                    <a class="btn-banner" href="#" target="_blank">Saiba mais.</a>
                </section>
            </div>
            <!-- fim do texto novidades -->
            <!-- Início da Imagem das Novidades -->
            <div class="col-md-6">
                <figure>
                    <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="banner-home">
                </figure>
            </div>
            <!-- Fim da Imagem das Novidades -->
        </div>
    </div>
</div>
<!-- Fim da Seção Novidades -->
