<header id="header">
    <a id="logo" href="index.html"><img src="./assets/img/logo.png" alt="logo senai"></a>
    <nav id="nav">
        <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false"> 
            <span id="hamburguer"></span> 
        </button>
        <ul id="menu" role="menu">          
            <li><a class="linkMenu" href="jogos.html">Jogos</a></li>
            <li><a class="linkMenu" href="hardware.html">Hardware</a></li>
            <li><a class="linkMenu" href="celulares.html">Celulares</a></li>
            <li><a class="linkMenu" href="pc-gamer.html">PC Gamer</a></li>
            <li><a class="linkMenu" href="contato.html">Contato</a></li>
            <li><a class="linkMenu" href="login.html">Login</a></li>
        </ul>
    </nav>
  </header>