<header id="header">
  <a id="logo" href="index.html"><img src="./assets/img/logo.png" alt="logo GameMania"></a>
  <nav id="nav">
      <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false"> 
          <span id="hamburguer"></span> 
      </button>
      <ul id="menu" role="menu">
          <li><a class="linkMenu" routerLink="jogos">Jogos</a></li>
          <li><a class="linkMenu" routerLink="/">Hardware</a></li>
          <li><a class="linkMenu" routerLink="/">Celulares</a></li>
          <li><a class="linkMenu" routerLink="/">PC Gamer</a></li>
          <li><a class="linkMenu" routerLink="contato">Contato</a></li>
          <li><a class="linkMenu" routerLink="/">Login</a></li>
      </ul>
  </nav>
</header>  
