<!-- Início da Seção Galeria -->
<div class="galeria d-flex align-itens-center">
    <div class="conteiner">
        <div class="row">
            <!-- início do texto da galeria -->
            <div class="col-12">
                <section class="texto-galeria"> 
                    <h2>Conheça nossa galeria</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quaerat, dolore asperiores odit fugit qui reprehenderit saepe hic natus repellendus, quibusdam nobis cupiditate! Tenetur veritatis neque cupiditate perferendis, nostrum quibusdam!
                    </p>
                </section>
            </div>
            <!-- fim do texto da galeria -->
            <!-- inicio da imagem 1 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 1 da galeria -->
            <!-- inicio da imagem 2 da galeria -->
            <div class=" gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 2 da galeria -->
            <!-- inicio da imagem 3 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 3 da galeria -->
            <!-- inicio da imagem 4 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 4 da galeria -->
            <!-- inicio da imagem 5 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 5 da galeria -->
            <!-- inicio da imagem 6 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 6 da galeria -->
            <!-- inicio da imagem 7 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 7 da galeria -->
            <!-- inicio da imagem 8 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 8 da galeria -->
            <!-- inicio da imagem 9 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 9 da galeria -->
            <!-- inicio da imagem 10 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 10 da galeria -->
            <!-- inicio da imagem 11 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 11 da galeria -->
            <!-- inicio da imagem 12 da galeria -->
            <div class="gallery col-6 col-md-3">
                <img src="./assets/img/painel-super-mario-bros.jpg" class="img-fluid" alt="img-galeria">
            </div>
            <!-- fim da imagem 12 da galeria -->
        </div>
    </div>
</div>
<!-- Fim da Seção Galeria -->

