/*....galeria full....*/

.galeria{
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}

.galeria p{
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery{    
    /*margin: 10px auto 10px;*/
    margin: 5px auto 10px;

}
.img-fluid{
    max-width: 80%;
}
