<footer>
    <section>
        <img src="./assets/img/logo.png" alt="Logo da GameMania">
        <p>
            GameMania Jogos e Informática Ltda
            <br>
            CNPJ 00.000.000/0001-00
            <br>
            Rua Santa Efigênia, 200 - São Paulo/SP 
            <br>
            Telefone (11) 0000-0000
        </p>
        <ul>
            <li>
                <a href="#">
                    < mat-icon  svgIcon = "thumbs-up"  aria-hidden = "false"  aria-label = "Exemplo de ícone SVG de polegar para cima" > </ mat-icon >
                </a>
            </li>
            <li>
                <a href="#">
                    < mat-icon  svgIcon = "thumbs-up"  aria-hidden = "false"  aria-label = "Exemplo de ícone SVG de polegar para cima" > </ mat-icon >
                </a>
            </li>
            <li>
                <a href="#">
                    < mat-icon  svgIcon = "thumbs-up"  aria-hidden = "false"  aria-label = "Exemplo de ícone SVG de polegar para cima" > </ mat-icon >
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h2>Principais produtos da GameMania</h2>
        nav
    </section>
</footer>