
<footer class="rodape">
    <section>
        <img class="rodape_logo" src="./assets/img/logo.png" alt="Logo da GameMania">
    </section>
    
    <section>
        <p>
            GameMania Jogos e Innformatica Ltda
            <br>
            CNPJ: 00.000.000/0001-00
            <br>
            Rua Santa Efigênia, 200 - São Paulo/SP 
            <br>
            Telefone: (11) 0000-0000
        </p>
    </section>    

    <section>
        <ul class="rodape__lista-midias-sociais">
            <li class="rodape__item-midias-sociais">
                <a href="#">
                    icone facebook
                </a>
            </li>
            <li class="rodape__item-midias-sociais">
                <a href="#">
                    icone instagram
                </a>
            </li>
            <li class="rodape__item-midias-sociais">
                <a href="#">
                    icone whatsapp
                </a>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="rodape__titulo">Principais produdos da GameMania</h2>
        <nav>
            <ul>
                <li class="rodape_item-lista"><a href="#">Jogos Lançamentos</a></li>
                <li class="rodape_item-lista"><a href="#">Jogos Antigos</a></li>
                <li class="rodape_item-lista"><a href="#">Jogos Mais vendidos</a></li>
                <li class="rodape_item-lista"><a href="#">Informática Acessórios</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <h2 	class="rodape__titulo">GameMania</h2>
        <nav>
            <ul>
                <li class="rodape_item-lista"><a href="#">Meus Pedidos</a></li>
                <li class="rodape_item-lista"><a href="#">Politica da Empresa</a></li>
                <li class="rodape_item-lista"><a href="#">Cadastre-se</a></li>
                <li class="rodape_item-lista"><a href="#">Login</a></li>
            </ul>
        </nav>
    </section>
</footer>
