    <!-- Início da Seção Banner -->
    <div class="section-banner-home">            
        <div class="container-fluid">
            <div class="col-12 col-md-6">
                <figure>
                    <img src="./assets/img/foto-banner.jpg" class="img-fluid" alt="Imagem de um video game">
                </figure>
            </div>
            <div class="col-12 col-md-6">
                <section class="texto-banner d-none d-md-block">
                    <h1>Venha conhecer nosso diferencial</h1>
                    <p class="d-none d-md-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ducimus laboriosam labore voluptas eos assumenda laudantium sequi earum beatae odit quam, excepturi nisi fuga vel aspernatur hic perspiciatis quos aliquid!
                    </p>
                    <a href="jogos.html">Saiba mais</a>
                </section>
            </div>
        </div>
    </div>
    <!-- Fim da Seção Banner -->

